# URL of the deployed Google Apps Script Web App (see google-apps-script/Code.gs
# header comment for full deployment steps, or the "Connecting Google Sheets"
# section of the README).
# Looks like: https://script.google.com/macros/s/AKfycb.../exec
GOOGLE_SCRIPT_URL=
